body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000000;
}

.titulo {
  color: #ffffff;
}

.nome_usuario {
  color: #808080;
}

.botao {
  background-color: #000000;
  color: #ffffff;
}
